body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.33); }
  100% { transform: scale(1); }
}

@keyframes sticky-title-bounce {
  0% { transform: scale(1); }
  35% { transform: scale(1.14); }
  70% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

@font-face {
  font-family: "Hafs";
  src: url("./assets/fonts/Hafs.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
